.text-uppercase{
    text-transform: uppercase;
}

.text-bold{
    font-weight: bold;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.margin-left-right{
    margin: 0px 15px;
}

.margin-left{
    margin-left: 17px;
}

.margin-right{
    margin-right: 17px;
}

.active{
    color: #4db2ec;
}