@--light-dark: #233142;
@--smoke-gray: #5c5c5c;
@--dark-gray: #63666A;
@--back-after-img: #025834;


.disable-user-selection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.disable-user-selection *::-moz-selection {
  background: none !important;
}

.disable-user-selection *::selection {
  background: none !important;
}

* {
  a {
    text-decoration: none !important;
  }

  ul {
    list-style: none;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #faf9f9 !important;
}

span#backtop {
  padding: 27px;
  display: inline-block;
  display: none;
  cursor: pointer;
  border-radius: 25px;
  position: fixed;
  bottom: 8%;
  right: 3%;
  background-color: #007bff;

  i {
    display: block;
    color: #f1f1f1;
  }
}

//                   ============HEADER============
#header {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: transparent;
  transition: 0.3s;
  padding: 0px 120px;
  font-size: 18px;


  .logo {
    display: block;
    width: 150px;
    height: 150px;

    img {
      max-width: 100%;
    }
  }

  ul#main-menu {
    display: flex;
    list-style: none;
    padding: 15px;
    margin: 0px;
    align-items: center;

    li {
      padding: 20px;
      display: inline-block;
      //width: 170px;
      //height: 50px;
      border-radius: 10px;
      position: relative;
      cursor: pointer;

      a {
        color: black;
      }

      span:hover {
        cursor: pointer;
      }

      i {
        font-size: 14px;
      }

      i.active {
        color: #f10808;
      }

      ul.sub-menu {
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        transform: scaleY(0);
        transform-origin: 100% 0%;
        position: absolute;
        width: 300px;
        height: auto;
        background-color: #ffff;
        border-radius: 10px;
        padding: 20px 40px;
        margin-top: 20px;

        li:hover {
          background-color: #f7f5f5;
          border-radius: 10px;
          cursor: pointer;
        }
      }

      ul.show {
        transform: scaleY(1);
      }
    }

    li:hover {
      background-color: #f7f5f5;
    }
  }

  a.login {
    display: inline-block;
    height: 67px;
    color: black;
    padding: 20px 20px;
    border-radius: 10px;
  }

  a.login:hover {
    background-color: #f7f5f5;
  }
}

#header:hover {
  background-color: #ffffff !important;
}

//                   ============END HEADER============


#carouselIndicators {
  
  padding-top: 110px;
}


//                   ============CONTENT============                  
#content {
  background-color: rgb(236, 240, 241);
  background-size: 100%;
  padding-bottom: 3rem;

  .container {
    background-color: white;
    border-radius: 0.5rem;
  }

  .super-title {
    width: 100%;
    text-align: center;
    height: 2.8rem;
    line-height: 2.8rem;
    background: transparent;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 6px;
    font-family: revert;
    font-style: oblique;

    a {

      &:hover {
        text-decoration: none;
      }
    }
  }
}

#featured-members{
  height: auto;
  background-color: white;
  ul.featuredMem-menu{
    padding: 0px;
    display: inline-block;
    flex-direction: row;
    height: auto;
    li{
      height: auto;
      padding: 20px 30px;

      span{
        width: 100%;
        img{
         
          transition: 0.4s;
        }
      }
      
    }
    li:hover img{
      transform: rotate(1deg);
      box-shadow: 5px 15px 20px rgba(145, 142, 142, 0.2);
    } 
  }

  .content-right{
    padding: 0px 20px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span{
      font-weight: bold;
    }
    span:nth-child(2){
      font-size: 30px;
    }
    span:nth-child(3){
      font-size: 80px;
    }
    i{
      color: white;
      display: inline-block;
      padding: 13px;
      border: 1px solid #88b6ea;
      background-color: #88b6ea;
      border-radius: 50px;
      font-size: 12px;
      margin-bottom: 15px;
      box-shadow: 5px 15px 20px rgba(145, 142, 142, 0.2);
    }
  }
}




#courses {
  ul.nav {
    justify-content: right;
  }

  ul#tab-course-cpp {

    li {
      height: auto;
      overflow: hidden;
      padding-top: 20px;

      a.learnMore {
        font-size: 13px;

        &:hover {
          cursor: pointer;
        }
      }

      a.tab-item-img {
        cursor: pointer;
        overflow: hidden;

        img {
          transition: 0.4s;
          transform: scale(1);
          margin-bottom: 20px;
          height: 180px;
        }

        img:hover {
          transform: scale(1.04);
        }
      }

      span.title-course {
        font-size: 28px;
        margin: 20px 0px 0px 0px;
        font-weight: bold;
      }

      .info-course {
        padding: 10px 0px 15px;
        font-size: 12px;
        justify-content: space-between;
        display: flex;
        color: black;
      }
    }
  }
}

#activities {
  .activities-lists-item {
    background-image: url("../images/img-activities/bg/dawn.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    box-shadow: 0px 0px 10px rgb(226, 241, 245);
    border-radius: 10px;

    &.show {
      height: auto;
      animation-duration: 0.5;
    }

    .title {
      font-size: 24px;
      font-weight: 800;
      color: @--smoke-gray;
      margin-bottom: 1rem;

      >h3 {
        position: relative;
        text-transform: uppercase;
      }
    }

    &.left-item {
      .title {
        justify-content: left;

        >h3 {
          &::before {
            content: "";
            height: 2px;
            width: 3rem;
            position: absolute;
            top: 50%;
            left: -3.25rem;
            background-color: @--smoke-gray;
          }
        }
      }

      .content-item {
        .image {
          &::after {
            transform: rotate(10deg);
          }
        }
      }
    }

    &.right-item {
      .title {
        justify-content: right;

        >h3 {
          &::after {
            content: "";
            height: 2px;
            width: 3rem;
            position: absolute;
            top: 50%;
            left: -3.25rem;
            background-color: @--smoke-gray;
          }
        }
      }
    }

    .content-item {
      .image {
        &::after {
          transform: rotate(-10deg);
        }
      }

      >.content {
        height: 26rem;

        .content-description {

          font-style: italic;
          color: @--light-dark;
          text-align: justify;
        }

        .content-image {
          img {
            padding: 0.5rem;
            border: dashed 3px rgba(0, 128, 0, 0.458);
          }
        }
      }

      .image {
        &::after {
          content: "";
          position: absolute;
          background-color: rgba(238, 155, 1, 0.5);
          // c7ecee z-index: 2;
          width: 80%;
          height: 85%;
          opacity: 0.5;
        }

        img {
          position: absolute;
          width: 18rem;
          z-index: 3;
          top: -1.6rem;
          left: 4.6rem;
          border-radius: 2px;
          box-shadow: 3px 3px 12px #8f8c8c;
          transition-duration: 0.3s;

          &:hover {
            transform: scale(1.03);
            transition-duration: 0.3s;
          }
        }
      }

      .item-icon {
        >.col {
          position: relative;

          &::before {
            content: "";
            width: 48px;
            height: 48px;
            border: dashed 2px green;
            position: absolute;
            left: -48px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

#highlight {
  .highlight-list {

    .highlight-item {
      border-radius: 10px;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      position: relative;

      box-shadow: 0 3px 2px #00000020;

      &:hover {
        .title {
          color: var(--primary) !important;
        }
      }

      &:has(.flex-row-reverse) {

        // border-left: 1px solid #0000003b;

        &::before {
          position: absolute;
          content: "";
          border-left: 0px solid #328be9;
          border-radius: 10px;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0rem;
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
        }

        &:hover {
          &::before {
            border-left: 6px solid #328be9;
            left: -0.25rem;
          }

          figure img {
            -webkit-transform: translateX(10px);
            transform: translateX(10px);
          }
        }
      }

      &:has(.flex-row) {
        // border-right: 1px solid #0000003b;

        &::before {
          position: absolute;
          content: "";
          border-right: 0px solid #328be9;
          border-radius: 10px;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
        }

        &:hover {
          &::before {
            border-right: 6px solid #328be9;
            right: -0.25rem;
          }

          figure img {
            -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
          }
        }
      }

      .highlight-item-image {
        figure {
          overflow: hidden;
          position: relative;

          &::before {
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
            -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
          }

          &:hover::before {
            -webkit-animation: shine .75s;
            animation: shine .75s;
          }

          @-webkit-keyframes shine {
            100% {
              left: 125%;
            }
          }

          @keyframes shine {
            100% {
              left: 125%;
            }
          }
        }
      }

      img {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }

      .highlight-item-text {

        position: relative;

        .text-area {
          margin-top: 1rem;

          .title {
            color: @--light-dark;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
          }

          >p {
            font-size: .8rem;
            font-style: italic;
            color: var(--secondary);
          }

          .text-description {
            color: var(--secondary);
            text-align: justify;
          }
        }

        .time-area {
          font-size: .8rem;
          font-style: italic;
          color: var(--secondary);
        }
      }
    }
  }

}

//                   ============END CONTENT============

//                   ============ FOOTER ============

#footer{
  color: white;

  #footer-top{
    background-color: #273c75 ;
    height: 80px

  }

  #footer-bot{
    background-color: #353b48;
    padding-top: 10px;

    hr{
      color: white;
    }
  }

  #copyRight{
    background-color:#192a56;
    height: 50px;
    
  }
}

//                   ============ END FOOTER ============