
.input-form .input-box input{
    border-top: none;
    border-left: none;
    border-right: none;
}
.input-form .input-box input:valid, .input-form .input-box input:focus{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    box-shadow: none;
}

.input-form .input-box label{
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 1rem;
    pointer-events: none;
    transition: .5s;
    background: none!important;
    border: none!important;
}

.input-form .input-box input:focus ~ label, .input-form .input-box input:valid ~ label{
    font-size: 80%;
    font-weight: 700;
    color: green;
    padding-left: 0.75rem;
    top: -1.5rem;
}
.input-form .badge-link:hover{
    color: #f53677;
}

